.homeInfo {
  display: flex;
  gap: 32px;
  color: #fff;
  background-color: #1d4ed8;
  border-radius: 30px;
  @media (max-width: 1370px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 10px;
    justify-items: center;
    margin-right: 45px;
    img {
      width: 600px;
    }
  }
}
.homeInfoContent {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 32px;
  @media (max-width: 1370px) {
    padding: 10px;
  }
  @media (max-width: 1230px) {
    padding-top: 0.5rem;
    padding-right: 0;
    padding-left: 0.5rem;
  }
}
.homeInfoTitle {
  font-size: 40px;
  line-height: 1.375;
  margin-bottom: 111px;
  a {
    text-decoration: none;
    font-weight: bold;
    color: #e9e7e7;
    font-size: 3rem;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: #ffffff;
    }
  }
  @media (max-width: 1370px) {
    margin-bottom: 20px;
  }
  @media (max-width: 1230px) {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    a {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
  }
}
.homeInfoBtn {
  padding: 20px;
  background-color: #6e01b6;
  border-radius: 1rem;
  font-size: 1.5rem;
  transition: background-color 0.2s ease-in-out;
  color: #fff;
  text-decoration: none;
  &:hover {
    background-color: #6b2c91;
  }
  @media (max-width: 1480px) {
    padding: 15px;
    font-size: 1.2rem;
  }
  @media (max-width: 1400px) {
    display: block;
    width: 175px;
    font-size: 1.3rem;
  }
  @media (max-width: 1370px) {
    display: block;
    // width: 390px;
    width: auto;
    max-width: 400px;
    padding: 20px 25px;
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
  }
  // @media (max-width: 1230px) {
  //   padding: 0.75rem;
  //   font-size: 1.125rem;
  //   display: block;
  //   margin: auto;
  //   width: 3.75rem;
  // }
}
