.addForm {
  position: relative;
}
.inputs {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1.75rem;

  > input {
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    color: #fff;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    &:focus {
      border-bottom: 2px solid rgba(255, 255, 255, 1);
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
.closeBtn {
  position: absolute;
  top: -25%;
  right: 1%;
  cursor: pointer;
  padding: 3px;
  border: none;
  background-color: transparent;
  transition: background-color 0.15s ease-in-out;
  border-radius: 9999px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  > svg {
    width: 30px;
    height: 30px;
    > path {
      stroke: white;
    }
  }
}
.inputExercise {
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out;
  width: 24rem;
  &:focus {
    outline: none;
    border-bottom: 2px solid #fff;
  }
}
.inputReps {
  background-color: transparent;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.1);
  outline: none;
  &:focus {
    outline: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;
  }
  width: 4rem;
}
.inputSets {
  background-color: transparent;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.1);
  outline: none;
  &:focus {
    outline: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;
  }
  width: 4rem;
}
.addBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 1.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.7);
  color: #fff;
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Lexend', sans-serif;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: transparent;
  }
}
