.greeting {
  display: flex;
  gap: 1rem;
  justify-content: center;
  color: #fff;
  margin-bottom: 100px;
  font-size: 65px;
  @media (max-width: 1430px) {
    margin-left: 10%;
  }
  @media (max-width: 1330px) {
    margin-left: 15%;
  }
  @media (max-width: 1230px) {
    margin-bottom: 2.5rem;
  }
  @media (max-width: 1230px) {
    margin-left: -5%;
    width: 600px;
  }
}
.input {
  background-color: transparent;
  border: transparent;
  max-width: 350px;
  border-bottom: 2px solid transparent;
  outline: none;
  transition: color 0.15s ease-in-out;
  color: #fff;
  font-size: 65px;
  font-family: 'Lexend', sans-serif;
  transform: translateY(-11%);
  &:focus {
    outline: none;
    border-color: transparent;
  }
  @media (max-width: 1230px) {
    max-width: 300px;
  }
}
