.title {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 1rem;
}
.inputName {
  display: block;
  width: 24rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  color: #fff;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Lexend', sans-serif;
}
.button {
  font-family: 'Lexend', sans-serif;
  display: block;
  width: 12rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  margin: 0 auto;
  color: #fff;
  outline: none;
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 1.125rem;
  text-align: center;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
