.sideBar {
  background-color: #1e3a8a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.homeBtn {
  padding: 28px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.15s ease-in-out;

  &:hover {
    background-color: #9f5af0;
  }
  img {
    width: 55px;
    height: 55px;
  }
  @media (max-width: 865px) {
    padding: 15px;
  }
}

:global {
  .active {
    background-color: rgb(134 25 143);
  }
}

.scheduleBtn {
  padding: 28px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.15s ease-in-out;
  &.active {
    background-color: rgb(134 25 143);
  }
  &:hover {
    background-color: #9f5af0;
  }
  img {
    width: 55px;
    height: 55px;
  }
  @media (max-width: 865px) {
    padding: 15px;
  }
}
