@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lexend', sans-serif;
}

.content {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @apply w-full px-[65px] py-[85px];
  @media (max-width: 1330px) {
    @apply px-5;
  }
  @media (max-width: 768px) {
    @apply py-10 px-1;
  }
}
