.training {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backBtn {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  img {
    width: 4.063rem;
    height: 4.063rem;
    border-radius: 1.5rem;
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.2s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  @media (max-width: 830px) {
    top: 0.5rem;
    right: 0.5rem;
    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
.trainingTitle {
  font-size: 4.688rem;
  text-align: center;
  margin-bottom: 8.438rem;
}
.tableWrapper {
  height: 29.875rem;
  width: 1620px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 0.313rem;
  background-color: #1d4ed8;
  border-radius: 1.875rem;
  @media (max-width: 1830px) {
    width: 1200px;
  }
  @media (max-width: 1430px) {
    width: 900px;
  }
  @media (max-width: 1050px) {
    width: 700px;
  }
  @media (max-width: 830px) {
    width: 600px;
  }
}
.addBtn {
  padding: 15px 25px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  margin-top: 20px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: rgb(255, 255, 255);
  }
}
